/* font */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* Secci贸n de presentaci贸n */
#inicio {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.presentacion {
  position: relative;
  width: 100%;
  height: 100%;
}

.imagen-portada {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-superior {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000;
}
s
.texto-superior h3 {
 /*  font-size: 3rem; */
  margin-top: 100px;
 }

.texto-superior h1 {
  font-size: 18rem;
  margin-top: 20px;
 }

.texto-superior p {
 /*  font-size: 1.5rem; */
  margin-top: 10rem;
}

/* transici贸n 1 */
/* .animar-sobre {
  transform: scale(1.2) rotateY(180deg);
  transition: transform 1.5s ease-in-out;
}
 */

/* transicion 2 telon */

.fade-in {
  position: relative;
  overflow: hidden;
}

.fade-in::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8b0000; /* color tel贸n */
  animation: abrirTelon 1.5s ease-in-out forwards;
  z-index: 10;
}

@keyframes abrirTelon {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}






/*  375px en el navegador web para la visualizacion en celular*/
@media screen and (max-width: 768px) {
  .texto-superior h1 {
    font-size: 10vh;
    margin-top: 95px;
  }

    .texto-superior h3 {
       /*  color:red; */
    font-size: 4vh;
    margin-top:9px;
  }

  .texto-superior p {
    font-size: 1rem;
    margin-top: 145px;
  }

  #inicio {
    height: 100vh;
  }

  .imagen-portada {
    object-position: center;
  }
}

